body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f8ff;
  color: #333;
}

h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

nav {
  background-color: #2c3e50;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #3498db;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

form input, form select {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #2980b9;
}

#gameOptions button {
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 1.2rem;
}

#gameOptions button:hover {
  background-color: #27ae60;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.pure-g {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #bbccd4;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

.grid-item {
  text-align: center;
  background-color: #2980b9;
  color: whitesmoke;
  padding: 25px;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 4px 8px 12px rgba(2, 4, 6, 0.5);
}

.grid-item {
  background: linear-gradient(135deg, #2980b9, #6dd5fa);
}